@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color:#FFFFFF;
	font-size:small;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:18px;
	color:#666666;
}
img, tr, td {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
a, a:link, a:visited {
	color:#51759B;
	text-decoration:underline;
}
a:hover {
	color:#255282;
	text-decoration:none;
}
h3 {
	text-align:center;
}

div#header {
	background-image:url('../images/Execusystems_03.jpg');
	height:90px;
}
div#headerImage {
	width:850px;
	margin:0 auto;
	padding-left:50px;
}
div#navigationBar {
	background-image:url('../images/Execusystems_15.jpg');
	height:40px;
}
div.navigationLink {
	float:left;
	width:16%;
	text-align:center;
}
div#navigationDivider {
	height:8px;
	background-image:url('../images/Execusystems_16.jpg');
}
div#footerContainer {
	background-color:#162F45;
	min-height:100px;
	border-top:1px solid white;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
div#footerContainer a,
div#footerContainer a:link,
div#footerContainer a:visited {
	color:#FFFFFF;
	text-decoration:none;
}
div#footerContainer a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
div#footer {
	color:#FFFFFF;
	width:850px;
	margin:0 auto;
	font-size:12px;
	padding:20px 20px 20px 20px;
}

.blockTopCorner {
	height:25px;
	overflow:hidden;
	font-size:0px;
}
.blockTopCenter {
	font-size:0px;
	background-image:url('../images/Execusystems_25.jpg');
	background-repeat:repeat-x;
	height:25px;
}
.blockBodyRow {
	background-color:#FFFFFF;
}
.blockBodyLeft {
	border-left:1px solid #e0e0e0;
	padding-top:0px;
}
.blockBodyRight {
	border-right:1px solid #e0e0e0;
 }
.blockBodyDivLeft {
	border-bottom:1px solid #E0E0E0;
	height:24px;
	background-color:#FFFFFF;
}
.blockBodyDivRight {
	border-bottom:1px solid #E0E0E0;
	height:24px;
	background-color:#FFFFFF;
}
.blockBodyTitleImage {
	border-bottom:1px solid #E0E0E0;
	background-color:#FFFFFF;
	height:24px;
	overflow:hidden;
	text-align:center;
}
div.mainContent {
	/*font-size:medium;*/
}

img.imgFloatLeft {
	float:left;
	margin-right:10px;
}
img.imgFloatRight {
	float:right;
	margin-left:10px;
}


.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 200%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	border-style:none;
	background-color: white;
	z-index:1002;
	overflow: auto;
	color:#333333;
}

.importantText {
	font-weight:bold;
}

label {
	display:block;
}

.style2 {
	text-align: center;
}
.style4 {
	font-size: 0px;
	background-image: url('images/Execusystems_25.jpg');
	background-repeat: repeat-x;
	height: 25px;
	text-align: center;